<%- include('partials/head', {title: "Edit Product"}) %> 
<%-include('partials/navbar',{role:role}) %>
<form action="/products/<%= data.id %>/edit" method="POST">
    <h1 class="text-center"><%= data.name %></h1>
    <div
      style="display: block; margin-left: auto; margin-right: auto; width: 50%"
    >
      <img src="<%= data.imageUrl %>" class="center" />
    </div>
    <br />
    <div class="row g-3">
      <div class="col-md-6">
        <label>Product Name</label>
        <input class="form-control" type="text" name="name" value="<%= data.name %>" />
      </div>
      <div class="col-md-6">
        <label>Description</label>
        <input
          class="form-control"
          type="text"
          name="description"
          value="<%= data.description %>"
        />
      </div>
    </div>
    <br />
    <label>Price</label>
    <br />
    <input class="form-control" type="number" name="price" value="<%=data.price%>" />
    <br /><br />
    <label>Image URL</label>
    <br />
    <input class="form-control" type="text" name="imageUrl" value="<%=data.imageUrl%>" />
    <br /><br />
    <select name="CategoryId">
      <% category.forEach (el=>{%>
        <option value="<%=el.id%>" <%= data.CategoryId === el.id? "selected" : null %>><%=el.name%></option>
      <%})%>
    </select><br><br>
    <button class="btn btn-primary" type="submit">Update Product</button>
  </form>
<%- include('partials/foot') %>