<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  padding: 20px ;
  margin: 20px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
  }
  .title {
    text-align: center;
  }
  .button-group {
    display: flex;
    margin: 10px;
  }
  </style>
  
</head>
<body>
<%- include('partials/navbar', {role:role}) %>
<%= JSON.stringify(role)%>

  <h1 class="title">PRODUCT LIST</h1>
  <div>
    FILTER
    <button onclick="location.href='/products?categoryId=2'">CLOTHES</button>
    <button onclick="location.href='/products?categoryId=1'"> FOOD AND BEVERAGE</button>
  </div>
  <div>
    SORT
    <button onclick="location.href='/products?sortBy=price&orderBy=desc'">Price</button>
    <button onclick="location.href='/products?sortBy=name&orderBy=desc'"> Name</button>
  </div>
  <%= JSON.stringify(user) %>
  
  <div class="cardContainer">
    <% data.forEach(el => { %>
      <div class="card">
        <img src="<%=el.imageUrl%>" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 class="title"><b><%=el.name%></b></h4> 
          <h5>Price: <%=el.price%></h5>
          <p><%=el.description %></p> 
          <div class="button-group">
            <% if(role === 'Buyer') { %>
              <form action="/carts/add" method="post">
                <input type="hidden" name="ProductId" value="<%=el.id%>">
                <button type="submit"> ADD to Cart</button>
              </form>
           <% } %>
            <%  if(role === 'Seller' && el.User.id === user.id) {%>
              <button onclick="location.href='/products/<%=el.id%>/delete'"> DELETE</button>
              <button onclick="location.href='/products/<%=el.id%>/edit'"> EDIT</button>

            <%}%>
          </div>
         
        </div>
      </div>
    <% }) %>
  </div>
  <%- include('partials/script') %>
  
</body>
</html>